<aside class="sidebar">
  <!-- Розмітка перемикача мови -->
  <div class="select">
    <div class="select__header">
      <span class="select__current">EN</span>
    </div>
    <div class="select__body">
      <div class="select__item">EN</div>
      <div class="select__item">UA</div>
    </div>
  </div>

  <!-- Info -->
  <div class="info-mob">
    <h1 class="name-mob lng-name">Maryna Skrypnyk</h1>
    <h2 class="profession-mob lng-profession">Front-End Developer</h2>
  </div>
  <img
    loading="lazy"
    class="my-photo light-img"
    src="./images/photo-1.jpg"
    alt="My photo"
  />
  <img
    loading="lazy"
    class="my-photo dark-img"
    src="./images/photo-6.jpg"
    alt="My photo"
  />

  <!--contacts container-->
  <div class="contacts-container">
    <p class="personal">
      <span class="lng-dob">DOB:</span> 12-10-1985
      <span class="profession-divider profession-divider-personal">|</span>
      <span class="lng-kyiv">Kyiv</span>
      <span class="profession-divider profession-divider-personal">|</span>
      <span class="lng-ukraine">Ukraine</span>
    </p>
    <h3 class="contacts-title lng-contacts">Contacts</h3>
    <div class="contact-block">
      <a class="contacts-link" href="tel:+380979445659">
        <svg class="icon-contacts" width="20" height="20">
          <use class="icon" href="./images/sprite.svg#icon-phone"></use>
        </svg>
        +38 097 944 56 59
      </a>
    </div>
    <div class="contact-block">
      <a class="contacts-link" href="mailto:marina.skrypnyk@gmail.com">
        <svg class="icon-contacts" width="20" height="20">
          <use class="icon" href="./images/sprite.svg#icon-email"></use>
        </svg>
        marina.skrypnyk@gmail.com
      </a>
    </div>
    <div class="contact-block">
      <a class="contacts-link" href="https://github.com/Maryna-Skrypnyk">
        <svg class="icon-contacts" width="20" height="20">
          <use class="icon" href="./images/sprite.svg#icon-github"></use>
        </svg>
        github.com/maryna-skrypnyk/
      </a>
    </div>
    <div class="contact-block">
      <a
        class="contacts-link start"
        href="https://www.linkedin.com/in/maryna-skrypnyk/"
      >
        <svg class="icon-contacts start" width="20" height="20">
          <use class="icon" href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
        linkedin.com/in/maryna-skrypnyk
      </a>
    </div>
  </div>

  <!-- skills container-->
  <div class="skills-container">
    <h3 class="skills-title lng-technical">Technical Skills</h3>
    <ul class="skills-list">
      <li class="skills-item">
        <span class="skills-text">HTML5/CSS3/SASS</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">JavaScript</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">React.js</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">React router</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">Redux</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">GIT</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">WebPack/Parcel</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">Node.js</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">Scrum</span>
      </li>
      <li class="skills-item">
        <span class="skills-text">Agile</span>
      </li>
    </ul>
  </div>

  <!--soft skills container-->
  <div class="skills-container">
    <h3 class="skills-title lng-soft">Soft Skills</h3>
    <ul class="skills-list">
      <!-- <li class="skills-item">
              <span class="skills-text">Team-player</span>
            </li> -->
      <li class="skills-item">
        <span class="skills-text lng-proactive">Proactive</span>
      </li>
      <li class="skills-item">
        <span class="skills-text lng-motivation">Extreme self-motivation</span>
      </li>
      <li class="skills-item">
        <span class="skills-text lng-enthusiasm"
          >Enthusiasm and dedication</span
        >
      </li>
      <li class="skills-item">
        <span class="skills-text lng-details"
          >A pretty good eye for details</span
        >
      </li>
      <li class="skills-item">
        <span class="skills-text lng-outgoing">Outgoing</span>
      </li>
    </ul>
  </div>

  <!--languages container-->
  <div class="skills-container skills-container--lang">
    <h3 class="skills-title lng-languages">Languages</h3>
    <ul class="skills-list">
      <li class="skills-item">
        <span class="skills-text">
          <span class="lng-ukrainian">Ukrainian</span>
          <span class="dots-lang lng-dotsUkrainian"> .......... </span>
          [<span class="lng-native">Native</span>]
        </span>
      </li>
      <!-- <li class="skills-item">
              <span class="skills-text">Russian...............[Proficiency]</span>
            </li> -->
      <li class="skills-item">
        <span class="skills-text">
          <span class="lng-english">English</span>
          <span class="dots-lang lng-dotsEnglish"> ............... </span>
          [<span class="lng-preInt">Pre-Intermediate</span>]
        </span>
      </li>
    </ul>
  </div>

  <!--hobby container-->
  <div class="skills-container">
    <h3 class="skills-title lng-interests">Interests</h3>
    <ul class="skills-list">
      <li class="skills-item">
        <span class="skills-text lng-fitness">Fitness</span>
      </li>
      <li class="skills-item">
        <span class="skills-text lng-reading">Reading</span>
      </li>
      <li class="skills-item">
        <span class="skills-text lng-games">Board games</span>
      </li>
    </ul>
  </div>
</aside>
